CONFIG_IDF_TARGET="esp32s3"
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192
CONFIG_ESP_SYSTEM_PANIC_PRINT_REBOOT=y
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
CONFIG_EDGE_SYNTHETIC_EVENT_PERIOD_MS=2000
CONFIG_EDGE_HOST_EVENT_URL="http://192.168.1.25:8000/event"
CONFIG_EDGE_HOST_FALLBACK_URL="http://192.168.1.25:8000/infer/fallback"
CONFIG_EDGE_USE_TFLM=n

